extends layout

block content
  h2 A <a target="_blank" href="https://login.persona.org/about">Mozilla Persona</a> Identity Provider
  
  p sendmypin.org is an experimental Mozilla Persona Identity Provider that enables users to sign in to sites using their SMS enabled phone.

  p To give sendmypin.org a try, visit your favorite Persona enabled site (such as <a target="_blank" href="http://123done.org">123done.org</a>) and sign in using <em>&lt;your_phone_number_with_country_code&gt;@sendmypin.org</em> as the email address.

