doctype 5
html
  head
    meta(charset='utf-8')
    link(href='/css/style.css', type='text/css', rel='stylesheet')
    link(href='/en/merriweathersans-regular/fonts.css', type='text/css', rel='stylesheet')
    title Send My PIN.org

  body
    #content
      header.cf
        h1.splash Send My PIN.org

      block content

      block footer
        footer
          ul
            li A Friday Hack by <a target="_blank" href="https://shanetomlinson.com">Shane Tomlinson</a>
            li Source code on <a target="_blank" href="https://github.com/shane-tomlinson/sendmypin.org">GitHub</a>

