extends layout

block content
  form(method='post', action='/tel', name='form_authenticate')#form_authenticate.hidden
    label(for='phone_number') Phone Number (with country code)
    input(type='tel', name='phone_number', placeholder='447503836211')#phone_number
    button Submit

  form(method='post', action='/pin', name='form_pin')#form_pin.hidden
    label(for='pin') PIN
    input(type='number', name='pin', placeholder='815635')#pin
    button Submit

  p#success.hidden Success! You are now signed in.

  script(src='#{browserid_host}/authentication_api.js')
  script(src='js/jquery-1.8.3.min.js')
  script(src='js/sign_in.js')
